<th:block xmlns:th="http://www.thymeleaf.org">

    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slide -->
            <th:block th:each="r,c: ${recipes}" th:object="${r}">
                <div   class="single-hero-slide bg-img" style="background-image: url(/img/bg-img/bg1.jpg);">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                                <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                                    <h2 th:text="*{name}" data-animation="fadeInUp" data-delay="300ms">Delicios Homemade Burger</h2>
                                    <p th:text="*{products}"data-animation="fadeInUp" data-delay="700ms">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique nisl vitae luctus sollicitudin. Fusce consectetur sem eget dui tristique, ac posuere arcu varius.</p>
                                    <a th:href="@{/recipes/recipe-details/{id}(id=${r.id})}" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">See Receipe</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </th:block>


<!--            &lt;!&ndash; Single Hero Slide &ndash;&gt;-->
<!--            <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/bg6.jpg);">-->
<!--                <div class="container h-100">-->
<!--                    <div class="row h-100 align-items-center">-->
<!--                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">-->
<!--                            <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">-->
<!--                                <h2 data-animation="fadeInUp" data-delay="300ms">Delicios Homemade Burger</h2>-->
<!--                                <p data-animation="fadeInUp" data-delay="700ms">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique nisl vitae luctus sollicitudin. Fusce consectetur sem eget dui tristique, ac posuere arcu varius.</p>-->
<!--                                <a href="#" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">See Receipe</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            &lt;!&ndash; Single Hero Slide &ndash;&gt;-->
<!--            <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/bg7.jpg);">-->
<!--                <div class="container h-100">-->
<!--                    <div class="row h-100 align-items-center">-->
<!--                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">-->
<!--                            <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">-->
<!--                                <h2 data-animation="fadeInUp" data-delay="300ms">Delicios Homemade Burger</h2>-->
<!--                                <p data-animation="fadeInUp" data-delay="700ms">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique nisl vitae luctus sollicitudin. Fusce consectetur sem eget dui tristique, ac posuere arcu varius.</p>-->
<!--                                <a href="#" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">See Receipe</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </section>
</th:block>