<th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div   class="delicious-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="deliciousNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="/"><img src="/img/core-img/logo.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->

                        <div class="classynav">

                            <th:block sec:authorize="isAnonymous()">
                                <ul >
                                    <li class="active"><a th:href="@{/}">Home</a></li>
                                    <li ><a th:href="@{/about}">About Us</a></li>
                                    <li><a th:href="@{/recipes/all-recipes}">All recipes</a></li>
                                    <li><a th:href="@{/users/login}">Login</a></li>
                                    <li><a th:href="@{/users/register}">Register</a></li>

<!--                                    <script src="js/jquery/jquery-2.2.4.min.js"></script>-->
<!--                                    <script type="text/javascript">-->
<!--                                        $(document).on('click','li',function () {-->
<!--                                            $(this).addClass('active')-->
<!--                                        })-->
<!--                                    </script>-->
                                </ul>


                            </th:block>

                            <th:block  sec:authorize="hasAuthority('USER')">
                                <ul>
                                    <li class="active"><a th:href="@{/home}">Home</a></li>
                                    <li><a href="#">Profile</a>
                                        <ul class="dropdown">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="blog-post.html">Blog Post</a></li>
                                            <li><a href="receipe-post.html">Receipe Post</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="elements.html">Elements</a></li>
                                            <li><a href="#">Dropdown</a>
                                                <ul class="dropdown">
                                                    <li><a href="index.html">Home</a></li>
                                                    <li><a href="about.html">About Us</a></li>
                                                    <li><a href="blog-post.html">Blog Post</a></li>
                                                    <li><a href="receipe-post.html">Receipe Post</a></li>
                                                    <li><a href="contact.html">Contact</a></li>
                                                    <li><a href="elements.html">Elements</a></li>
                                                    <li><a href="#">Dropdown</a>
                                                        <ul class="dropdown">
                                                            <li><a href="index.html">Home</a></li>
                                                            <li><a href="about.html">About Us</a></li>
                                                            <li><a href="blog-post.html">Blog Post</a></li>
                                                            <li><a href="receipe-post.html">Receipe Post</a></li>
                                                            <li><a href="contact.html">Contact</a></li>
                                                            <li><a href="elements.html">Elements</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a th:href="@{/recipes/all-recipes}">Recipes</a>
                                        <div class="megamenu align-items-center">
                                            <ul    class="single-mega cn-col-4 ">
                                                <li  class="title">Recipe Categories</li>
                                                <li><a href="/saved/all">My Saved Recipes</a></li>
                                                <li><a th:each="c :${cats}" th:text="${c.categoryName}" th:href="@{/recipes/recipe-details}">Category 1</a></li>
<!--                                                <li><a href="about.html">Category 2</a></li>-->
<!--                                                <li><a href="blog-post.html">Category 3</a></li>-->
<!--                                                <li><a href="receipe-post.html">Category 4</a></li>-->
                                            </ul>
                                            <div class="single-mega cn-col-4">
                                                <div class="receipe-slider owl-carousel">
                                                    <a href="#"><img src="/img/bg-img/bg1.jpg" alt=""></a>
                                                    <a href="#"><img src="/img/bg-img/bg6.jpg" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a th:href="@{/recipes/recipe-post}">Post Recipe</a></li>
                                    <li ><a th:href="@{/about}">About Us</a></li>
                                    <th:block sec:authorize="hasAuthority('ADMIN')">
                                        <li><a href="contact.html">ADMINCHE</a></li>
                                    </th:block>
                                    <!--                                    <li><a href="contact.html">Contact</a></li>-->
                                    <li><a th:href="@{/logout}">Logout</a></li>



                                </ul>


                            </th:block>


                            <!-- Newsletter Form -->
                            <div class="search-btn">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>


                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</th:block>