<th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <!-- ##### Top Catagory Area Start ##### -->
    <section class="top-catagory-area section-padding-80-0 ">
        <th:block th:if="${users.isEmpty()}">
            <section class="cta-area bg-img bg-overlay mb-50" style="background-image: url(/img/bg-img/bg4.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <!-- Cta Content -->
                            <div class="cta-content text-center">
                                <h2> Все още няма регистрирани потребители!</h2>
                                <!--                                <p>Fusce nec ante vitae lacus aliquet vulputate. Donec scelerisque accumsan molestie. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras sed accumsan neque. Ut vulputate, lectus vel aliquam congue, risus leo elementum nibh</p>-->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </th:block>

        <div class="container">
            <div th:each="r :${users}" class="row">
                <!-- Top Catagory Area -->
                <div th:object="${r}" class="col-12 col-lg-6">
                    <div class="single-top-catagory">
                        <th:block th:if="${r.imageUrl}==null">
                            <img class="profile-img" src="/img/cust-img/notesdetails.jpg" alt="">
                        </th:block>
                        <th:block th:unless="${r.imageUrl}==null">
                            <img class="profile-img" th:src="${r.imageUrl}" alt="">

                        </th:block>

                        <!-- Content -->
                        <div class="top-cta-content">
                            <h3 th:text="| User: ${r.username}|">Strawberry Cake</h3>
                            <h6 th:text="|Email: ${r.email}|">Simple &amp; Delicios</h6>
                            <!--                            <a th:href="@{/notes/details/{id}(id=${r.id})}" class="btn delicious-btn">Виж Бележка</a>-->
                            <th:block sec:authorize="hasAuthority('ADMIN')">
                                <div class="row d-flex justify-content-center">
                                    <th:block th:if="${#lists.contains(r.authorities, 'USER') &&
                            !#lists.contains(r.authorities, 'ADMIN') }">

                                        <form th:action="@{/users/set-admin/{id}(id=${r.id})}" method="post">
                                            <button class="btn delicious-btn">MAKE ADMIN</button>
                                        </form>
                                        <form th:action="@{/users/delete/{id}(id=${r.id})}" method="post">
                                                <button class="btn btn-danger"  th:text="Delete"></button>
                                        </form>
                                    </th:block>
                                </div>
                                <div class="row d-flex justify-content-center">
                                    <th:block th:if="${#lists.contains(r.authorities, 'USER') &&
                            #lists.contains(r.authorities, 'ADMIN') }">

                                        <form th:action="@{/users/set-user/{id}(id=${r.id})}" method="post">
                                            <button class="btn delicious-btn">MAKE USER</button>
                                        </form>
                                        <form th:action="@{/users/delete/{id}(id=${r.id})}" method="post">
                                            <button class="btn btn-danger"  th:text="Delete"></button>
                                        </form>
                                    </th:block>
                                </div>

                            </th:block>
                        </div>
                    </div>
                </div>
<!--                <td class="col-md-2 text-center mb-30 ">-->
<!--                    <th:block sec:authorize="hasAuthority('ADMIN')">-->
<!--                        <form class="form w-15 mx-auto text-center" th:action="@{/users/delete/{id}(id=${r.id})}"-->
<!--                              method="post">-->
<!--                            <div>-->
<!--                                <button class="btn btn-danger" th:text="Delete"></button>-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </th:block>-->

<!--                </td>-->
            </div>
        </div>

    </section>

</th:block>